In [1]:
# sentiment analysis

In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv(r'C:\E\E_drive_copy\sample_data\nlp\ek\Tweets-train.csv')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10640 entries, 0 to 10639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      10640 non-null  int64
 1   airline_sentiment             10640 non-null  object
 2   airline_sentiment_confidence  10640 non-null  float64
 3   negativereason                6670 non-null   object
 4   negativereason_confidence     7672 non-null   float64
 5   airline                       10640 non-null  object
 6   airline_sentiment_gold        31 non-null     object
 7   name                          10640 non-null  object
 8   negativereason_gold           26 non-null     object
 9   retweet_count                 10640 non-null  int64
 10  text                          10640 non-null  object
 11  tweet_coord                   760 non-null    object
 12  tweet_created                 10640 non-null  object
 13  tweet_location                7184 non-null   object
 14  user_timezone                 7136 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.2+ MB

In [5]:
train.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
1,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
2,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
3,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
4,570300616901320704,positive,0.6745,NaN,0.0000,Virgin America,NaN,cjmcginnis,NaN,0,"@VirginAmerica yes, nearly every time I fly VX...",NaN,2015-02-24 11:13:57 -0800,San Francisco CA,Pacific Time (US & Canada)

In [6]:
train.shape

(10640, 15)

In [7]:
test = pd.read_csv(r'C:\E\E_drive_copy\sample_data\nlp\ek\Tweets-test.csv')

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      4000 non-null   int64
 1   airline_sentiment             4000 non-null   object
 2   airline_sentiment_confidence  4000 non-null   float64
 3   negativereason                2508 non-null   object
 4   negativereason_confidence     2850 non-null   float64
 5   airline                       4000 non-null   object
 6   airline_sentiment_gold        9 non-null      object
 7   name                          4000 non-null   object
 8   negativereason_gold           6 non-null      object
 9   retweet_count                 4000 non-null   int64
 10  text                          4000 non-null   object
 11  tweet_coord                   259 non-null    object
 12  tweet_created                 4000 non-null   object
 13  tweet_location                2723 non-null   object
 14  user_timezone                 2684 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 468.9+ KB

In [9]:
test.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570031758546063361,negative,1.0000,Customer Service Issue,1.0000,American,NaN,msofka,NaN,0,@AmericanAir why did you drop my call. Why don...,NaN,2015-02-23 17:25:36 -0800,"Cleveland, OH",Central Time (US & Canada)
1,569230567759327233,negative,1.0000,Bad Flight,0.6703,US Airways,NaN,POnions,NaN,0,@USAirways thanks for the seat that doesn't re...,NaN,2015-02-21 12:21:57 -0800,"CT, USA",Central Time (US & Canada)
2,569847788986462209,negative,1.0000,Late Flight,0.6684,American,NaN,JoshSeefried,NaN,0,@AmericanAir wasn't just a delay. Your counter...,NaN,2015-02-23 05:14:34 -0800,NaN,Central Time (US & Canada)
3,569666352794898432,positive,0.6600,NaN,0.0000,United,NaN,anoyes,NaN,0,@united social media team is on point on #Osca...,NaN,2015-02-22 17:13:37 -0800,"San Francisco, CA",Eastern Time (US & Canada)
4,570279368766959616,neutral,0.6739,NaN,NaN,American,NaN,jjqb1,NaN,0,@AmericanAir These birds could fly to South Am...,NaN,2015-02-24 09:49:31 -0800,NaN,Buenos Aires

In [10]:
test.shape

(4000, 15)

In [11]:
# filtering airline_sentiment and text from train data

train = train[['airline_sentiment', 'text']]

In [12]:
train

      airline_sentiment                                               text
0              positive  @VirginAmerica plus you've added commercials t...
1               neutral  @VirginAmerica I didn't today... Must mean I n...
2              negative  @VirginAmerica it's really aggressive to blast...
3              negative  @VirginAmerica and it's a really big bad thing...
4              positive  @VirginAmerica yes, nearly every time I fly VX...
...                 ...                                                ...
10635          positive                        @AmericanAir Thanks! He is.
10636           neutral  “@AmericanAir: @TilleyMonsta George, that does...
10637           neutral  @AmericanAir Please bring American Airlines to...
10638          negative  @AmericanAir you have my money, you change my ...
10639           neutral  @AmericanAir we have 8 ppl so we need 2 know h...

[10640 rows x 2 columns]

In [13]:
train['airline_sentiment'].value_counts()

negative    6670
neutral     2248
positive    1722
Name: airline_sentiment, dtype: int64

In [14]:
import re
from nltk.tokenize import WordPunctTokenizer
wpt = WordPunctTokenizer()

def str_clean(text):
    text = re.sub(r'@+', '', text)
    text = re.sub(r'http?://[A-Za-z0-9./]+', '', text)
    text = re.sub(r'[^A-Za-z]', ' ', text)
    text = text.lower()
    words = wpt.tokenize(text)
    return (' '.join(words)).strip()

In [17]:
train['clean_text'] = list(map(lambda x:str_clean(x), train['text']))

In [18]:
train.head()

,airline_sentiment,text,clean_text
0,positive,@VirginAmerica plus you've added commercials t...,virginamerica plus you ve added commercials to...
1,neutral,@VirginAmerica I didn't today... Must mean I n...,virginamerica i didn t today must mean i need ...
2,negative,@VirginAmerica it's really aggressive to blast...,virginamerica it s really aggressive to blast ...
3,negative,@VirginAmerica and it's a really big bad thing...,virginamerica and it s a really big bad thing ...
4,positive,"@VirginAmerica yes, nearly every time I fly VX...",virginamerica yes nearly every time i fly vx t...

In [20]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sreer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [29]:
# removing stop words

def rem_stop_word(word):
    word = word.lower()
    if word not in stop_words:
        return word

In [30]:
train['clean_text2'] = list(map(lambda x:rem_stop_word(x), train['clean_text']))

In [31]:
train.head()

,airline_sentiment,text,clean_text,clean_text2
0,positive,@VirginAmerica plus you've added commercials t...,virginamerica plus you ve added commercials to...,virginamerica plus you ve added commercials to...
1,neutral,@VirginAmerica I didn't today... Must mean I n...,virginamerica i didn t today must mean i need ...,virginamerica i didn t today must mean i need ...
2,negative,@VirginAmerica it's really aggressive to blast...,virginamerica it s really aggressive to blast ...,virginamerica it s really aggressive to blast ...
3,negative,@VirginAmerica and it's a really big bad thing...,virginamerica and it s a really big bad thing ...,virginamerica and it s a really big bad thing ...
4,positive,"@VirginAmerica yes, nearly every time I fly VX...",virginamerica yes nearly every time i fly vx t...,virginamerica yes nearly every time i fly vx t...

In [32]:
def remove_words(string, words_to_remov):
    words = [i for i in string.split(' ') if i not in words_to_remov]
    return ' '.join(words)

In [35]:
words_to_remov = ['americanair', 'united', 'delta', 'southwestair', 'jetblue', 'virginamerica']

train['clean_text3'] = list(map(lambda x:remove_words(x,words_to_remov), train['clean_text2']))

In [36]:
train.head()

,airline_sentiment,text,clean_text,clean_text2,clean_text3
0,positive,@VirginAmerica plus you've added commercials t...,virginamerica plus you ve added commercials to...,virginamerica plus you ve added commercials to...,plus you ve added commercials to the experienc...
1,neutral,@VirginAmerica I didn't today... Must mean I n...,virginamerica i didn t today must mean i need ...,virginamerica i didn t today must mean i need ...,i didn t today must mean i need to take anothe...
2,negative,@VirginAmerica it's really aggressive to blast...,virginamerica it s really aggressive to blast ...,virginamerica it s really aggressive to blast ...,it s really aggressive to blast obnoxious ente...
3,negative,@VirginAmerica and it's a really big bad thing...,virginamerica and it s a really big bad thing ...,virginamerica and it s a really big bad thing ...,and it s a really big bad thing about it
4,positive,"@VirginAmerica yes, nearly every time I fly VX...",virginamerica yes nearly every time i fly vx t...,virginamerica yes nearly every time i fly vx t...,yes nearly every time i fly vx this ear worm w...

In [37]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['airline_sentiment_encod'] = le.fit_transform(train['airline_sentiment'])

train.head()

,airline_sentiment,text,clean_text,clean_text2,clean_text3,airline_sentiment_encod
0,positive,@VirginAmerica plus you've added commercials t...,virginamerica plus you ve added commercials to...,virginamerica plus you ve added commercials to...,plus you ve added commercials to the experienc...,2
1,neutral,@VirginAmerica I didn't today... Must mean I n...,virginamerica i didn t today must mean i need ...,virginamerica i didn t today must mean i need ...,i didn t today must mean i need to take anothe...,1
2,negative,@VirginAmerica it's really aggressive to blast...,virginamerica it s really aggressive to blast ...,virginamerica it s really aggressive to blast ...,it s really aggressive to blast obnoxious ente...,0
3,negative,@VirginAmerica and it's a really big bad thing...,virginamerica and it s a really big bad thing ...,virginamerica and it s a really big bad thing ...,and it s a really big bad thing about it,0
4,positive,"@VirginAmerica yes, nearly every time I fly VX...",virginamerica yes nearly every time i fly vx t...,virginamerica yes nearly every time i fly vx t...,yes nearly every time i fly vx this ear worm w...,2

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
x_train = cv.fit_transform(train['clean_text3'])

y_train = train['airline_sentiment_encod']

In [50]:
y_train

0        2
1        1
2        0
3        0
4        2
        ..
10635    2
10636    1
10637    1
10638    0
10639    1
Name: airline_sentiment_encod, Length: 10640, dtype: int32

In [42]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()
mnb.fit(x_train, y_train)

MultinomialNB()

In [51]:
test['clean_text'] = list(map(lambda x:str_clean(x), test['text']))
test['clean_text2'] = list(map(lambda x:rem_stop_word(x), test['clean_text']))
test['clean_text3'] = list(map(lambda x:remove_words(x,words_to_remov), test['clean_text2']))
test['airline_sentiment_encod'] = le.fit_transform(test['airline_sentiment'])
x_test = cv.transform(test['clean_text3'])
y_test = test['airline_sentiment_encod']

In [52]:
y_pred = mnb.predict(x_test)

In [53]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

confusion_matrix(y_test, y_pred)

array([[2431,   61,   16],
       [ 460,  337,   54],
       [ 243,   59,  339]], dtype=int64)

In [54]:
accuracy_score(y_test, y_pred)

0.77675

In [55]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.97      0.86      2508
           1       0.74      0.40      0.52       851
           2       0.83      0.53      0.65       641

    accuracy                           0.78      4000
   macro avg       0.78      0.63      0.67      4000
weighted avg       0.78      0.78      0.75      4000

In [56]:
def predicted_to_value(i):
    if i == 0:
        return 'negative'
    elif i == 1:
        return 'neutral'
    elif i == 2:
        return 'positive'

In [57]:
result = test[['airline_sentiment', 'text']]

result['predicted_sentiment'] = list(map(lambda x : predicted_to_value(x), y_pred))

<ipython-input-57-4f28097962af>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['predicted_sentiment'] = list(map(lambda x : predicted_to_value(x), y_pred))

In [58]:
result

,airline_sentiment,text,predicted_sentiment
0,negative,@AmericanAir why did you drop my call. Why don...,negative
1,negative,@USAirways thanks for the seat that doesn't re...,negative
2,negative,@AmericanAir wasn't just a delay. Your counter...,negative
3,positive,@united social media team is on point on #Osca...,negative
4,neutral,@AmericanAir These birds could fly to South Am...,neutral
...,...,...,...
3995,negative,@united ANOTHER F*CKING DELAY IN THE PAST 32 H...,negative
3996,neutral,@SouthwestAir thanks!!,positive
3997,negative,@JetBlue 4 hr delay on flight to JFK via Tampa...,negative
3998,negative,"@USAirways My family, friends and colleagues w...",negative
3999,negative,@USAirways you guys have to be the worst. We a...,negative