In [1]:
# machines cannot understand text data
# we need to convert the text data into numbers for machine to understand
# structured string data (categorical features) can be converted to numbers using label encoding and one hot encoding
# unstructured data : use vectorization to convert this data into numbers

In [2]:
# Vectorization technique-1 : Bag of words

In [3]:
review1 = 'the movie was good and liked it'
review2 = 'the movie was good but end was boring'
review3 = 'did not like the movie as it was too lengthy'

In [4]:
import nltk

t1 = nltk.word_tokenize(review1)
t2 = nltk.word_tokenize(review2)
t3 = nltk.word_tokenize(review3)

all_tokens = set(t1) | set(t2) | set(t3)

In [6]:
print(all_tokens)

{'like', 'liked', 'lengthy', 'end', 'did', 'it', 'was', 'but', 'the', 'not', 'boring', 'movie', 'and', 'as', 'too', 'good'}

In [7]:
len(all_tokens)

16

In [8]:
token_dict = dict.fromkeys(all_tokens, 0)

print(token_dict)

{'like': 0, 'liked': 0, 'lengthy': 0, 'end': 0, 'did': 0, 'it': 0, 'was': 0, 'but': 0, 'the': 0, 'not': 0, 'boring': 0, 'movie': 0, 'and': 0, 'as': 0, 'too': 0, 'good': 0}

In [10]:
for i in t1+t2+t3:
    token_dict[i] += 1
    
print(token_dict)  # counter for all tokens in all 3 reviews

{'like': 1, 'liked': 1, 'lengthy': 1, 'end': 1, 'did': 1, 'it': 2, 'was': 4, 'but': 1, 'the': 3, 'not': 1, 'boring': 1, 'movie': 3, 'and': 1, 'as': 1, 'too': 1, 'good': 2}

In [12]:
rev1_token, rev2_token, rev3_token = dict.fromkeys(t1, 0), dict.fromkeys(t2, 0), dict.fromkeys(t3, 0)

In [13]:
for i in t1:
    rev1_token[i] += 1
    
for i in t2:
    rev2_token[i] += 1
    
for i in t3:
    rev3_token[i] += 1

In [14]:
print(rev1_token)

{'the': 1, 'movie': 1, 'was': 1, 'good': 1, 'and': 1, 'liked': 1, 'it': 1}

In [15]:
print(rev2_token)

{'the': 1, 'movie': 1, 'was': 2, 'good': 1, 'but': 1, 'end': 1, 'boring': 1}

In [16]:
print(rev3_token)

{'did': 1, 'not': 1, 'like': 1, 'the': 1, 'movie': 1, 'as': 1, 'it': 1, 'was': 1, 'too': 1, 'lengthy': 1}

In [19]:
import pandas as pd

df = pd.DataFrame([rev1_token, rev2_token, rev3_token])

In [20]:
df

,the,movie,was,good,and,liked,it,but,end,boring,did,not,like,as,too,lengthy
0,1,1,1,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,2,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0

In [21]:
df.fillna(0, inplace=True)

In [22]:
df

,the,movie,was,good,and,liked,it,but,end,boring,did,not,like,as,too,lengthy
0,1,1,1,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,2,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0

In [23]:
# this dataframe consist of a structured data from the strings we had

In [27]:
# the same process can be done using - countvectorizer from sklearn

from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

cv_out = cv.fit_transform([review1, review2, review3])

In [28]:
cv_out

<3x16 sparse matrix of type '<class 'numpy.int64'>'
	with 24 stored elements in Compressed Sparse Row format>

In [29]:
print(type(cv_out))

<class 'scipy.sparse.csr.csr_matrix'>

In [32]:
print(cv.get_feature_names())

['and', 'as', 'boring', 'but', 'did', 'end', 'good', 'it', 'lengthy', 'like', 'liked', 'movie', 'not', 'the', 'too', 'was']

In [30]:
cv_out.toarray()

array([[1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 2],
       [0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1]], dtype=int64)

In [33]:
cv_df = pd.DataFrame(cv_out.toarray(), columns=cv.get_feature_names())

cv_df

,and,as,boring,but,did,end,good,it,lengthy,like,liked,movie,not,the,too,was
0,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,1
1,0,0,1,1,0,1,1,0,0,0,0,1,0,1,0,2
2,0,1,0,0,1,0,0,1,1,1,0,1,1,1,1,1