In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = sns.load_dataset('exercise')

In [3]:
df

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

In [4]:
df.columns

Index(['Unnamed: 0', 'id', 'diet', 'pulse', 'time', 'kind'], dtype='object')

In [5]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [6]:
df

    id     diet  pulse    time     kind
0    1  low fat     85   1 min     rest
1    1  low fat     85  15 min     rest
2    1  low fat     88  30 min     rest
3    2  low fat     90   1 min     rest
4    2  low fat     92  15 min     rest
..  ..      ...    ...     ...      ...
85  29   no fat    135  15 min  running
86  29   no fat    130  30 min  running
87  30   no fat     99   1 min  running
88  30   no fat    111  15 min  running
89  30   no fat    150  30 min  running

[90 rows x 5 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     int64
 1   diet    90 non-null     category
 2   pulse   90 non-null     int64
 3   time    90 non-null     category
 4   kind    90 non-null     category
dtypes: category(3), int64(2)
memory usage: 2.1 KB

In [8]:
pd.__version__

'1.1.3'

In [9]:
df['time'] = df['time'].apply(lambda x:x.split()[0])

In [10]:
df

    id     diet  pulse time     kind
0    1  low fat     85    1     rest
1    1  low fat     85   15     rest
2    1  low fat     88   30     rest
3    2  low fat     90    1     rest
4    2  low fat     92   15     rest
..  ..      ...    ...  ...      ...
85  29   no fat    135   15  running
86  29   no fat    130   30  running
87  30   no fat     99    1  running
88  30   no fat    111   15  running
89  30   no fat    150   30  running

[90 rows x 5 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['diet'] = le.fit_transform(df['diet'])
df['kind'] = le.fit_transform(df['kind'])

In [12]:
df

    id  diet  pulse time  kind
0    1     0     85    1     0
1    1     0     85   15     0
2    1     0     88   30     0
3    2     0     90    1     0
4    2     0     92   15     0
..  ..   ...    ...  ...   ...
85  29     1    135   15     1
86  29     1    130   30     1
87  30     1     99    1     1
88  30     1    111   15     1
89  30     1    150   30     1

[90 rows x 5 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     int64
 1   diet    90 non-null     int32
 2   pulse   90 non-null     int64
 3   time    90 non-null     category
 4   kind    90 non-null     int32
dtypes: category(1), int32(2), int64(2)
memory usage: 2.4 KB

In [14]:
df['time'] = df['time'].astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     int64
 1   diet    90 non-null     int32
 2   pulse   90 non-null     int64
 3   time    90 non-null     int32
 4   kind    90 non-null     int32
dtypes: int32(3), int64(2)
memory usage: 2.6 KB

In [16]:
df.head(1)

   id  diet  pulse  time  kind
0   1     0     85     1     0

In [17]:
df.isna().sum()

id       0
diet     0
pulse    0
time     0
kind     0
dtype: int64

In [18]:
df.duplicated().sum()

0

In [19]:
x = df.iloc[:, :4].values
y = df.iloc[:, 4:].values

In [20]:
x

array([[  1,   0,  85,   1],
       [  1,   0,  85,  15],
       [  1,   0,  88,  30],
       [  2,   0,  90,   1],
       [  2,   0,  92,  15],
       [  2,   0,  93,  30],
       [  3,   0,  97,   1],
       [  3,   0,  97,  15],
       [  3,   0,  94,  30],
       [  4,   0,  80,   1],
       [  4,   0,  82,  15],
       [  4,   0,  83,  30],
       [  5,   0,  91,   1],
       [  5,   0,  92,  15],
       [  5,   0,  91,  30],
       [  6,   1,  83,   1],
       [  6,   1,  83,  15],
       [  6,   1,  84,  30],
       [  7,   1,  87,   1],
       [  7,   1,  88,  15],
       [  7,   1,  90,  30],
       [  8,   1,  92,   1],
       [  8,   1,  94,  15],
       [  8,   1,  95,  30],
       [  9,   1,  97,   1],
       [  9,   1,  99,  15],
       [  9,   1,  96,  30],
       [ 10,   1, 100,   1],
       [ 10,   1,  97,  15],
       [ 10,   1, 100,  30],
       [ 11,   0,  86,   1],
       [ 11,   0,  86,  15],
       [ 11,   0,  84,  30],
       [ 12,   0,  93,   1],
       [ 12,   0, 103,  15],
       [ 12,   0, 104,  30],
       [ 13,   0,  90,   1],
       [ 13,   0,  92,  15],
       [ 13,   0,  93,  30],
       [ 14,   0,  95,   1],
       [ 14,   0,  96,  15],
       [ 14,   0, 100,  30],
       [ 15,   0,  89,   1],
       [ 15,   0,  96,  15],
       [ 15,   0,  95,  30],
       [ 16,   1,  84,   1],
       [ 16,   1,  86,  15],
       [ 16,   1,  89,  30],
       [ 17,   1, 103,   1],
       [ 17,   1, 109,  15],
       [ 17,   1,  90,  30],
       [ 18,   1,  92,   1],
       [ 18,   1,  96,  15],
       [ 18,   1, 101,  30],
       [ 19,   1,  97,   1],
       [ 19,   1,  98,  15],
       [ 19,   1, 100,  30],
       [ 20,   1, 102,   1],
       [ 20,   1, 104,  15],
       [ 20,   1, 103,  30],
       [ 21,   0,  93,   1],
       [ 21,   0,  98,  15],
       [ 21,   0, 110,  30],
       [ 22,   0,  98,   1],
       [ 22,   0, 104,  15],
       [ 22,   0, 112,  30],
       [ 23,   0,  98,   1],
       [ 23,   0, 105,  15],
       [ 23,   0,  99,  30],
       [ 24,   0,  87,   1],
       [ 24,   0, 132,  15],
       [ 24,   0, 120,  30],
       [ 25,   0,  94,   1],
       [ 25,   0, 110,  15],
       [ 25,   0, 116,  30],
       [ 26,   1,  95,   1],
       [ 26,   1, 126,  15],
       [ 26,   1, 143,  30],
       [ 27,   1, 100,   1],
       [ 27,   1, 126,  15],
       [ 27,   1, 140,  30],
       [ 28,   1, 103,   1],
       [ 28,   1, 124,  15],
       [ 28,   1, 140,  30],
       [ 29,   1,  94,   1],
       [ 29,   1, 135,  15],
       [ 29,   1, 130,  30],
       [ 30,   1,  99,   1],
       [ 30,   1, 111,  15],
       [ 30,   1, 150,  30]], dtype=int64)

In [21]:
print(y)

[[0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [2]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]]

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1, stratify = y)

In [23]:
len(x_train), len(x_test), len(x_train), len(y_test)

(67, 23, 67, 23)

#### classification models with pipeline

In [31]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.pipeline import Pipeline

pipe_lr = Pipeline([('scaler1', MinMaxScaler()), ('lr', LogisticRegression())])
pipe_dt = Pipeline([('scaler1', MinMaxScaler()), ('dt', DecisionTreeClassifier())])
pipe_rf = Pipeline([('scaler1', MinMaxScaler()), ('rf', RandomForestClassifier())])
pipe_sv = Pipeline([('scaler1', MinMaxScaler()), ('sv', SVC())])
pipe_nb = Pipeline([('scaler1', MinMaxScaler()), ('sv', GaussianNB())])
pipe_ada = Pipeline([('scaler1', MinMaxScaler()), ('sv',  AdaBoostClassifier())])
pipe_knn = Pipeline([('scaler1', MinMaxScaler()), ('sv', KNeighborsClassifier())])
pipe_xgb = Pipeline([('scaler1', MinMaxScaler()), ('sv', XGBClassifier())])

In [32]:
pipe_lr2 = Pipeline([('scaler2', StandardScaler()), ('lr', LogisticRegression())])
pipe_dt2 = Pipeline([('scaler2', StandardScaler()), ('dt', DecisionTreeClassifier())])
pipe_rf2 = Pipeline([('scaler2', StandardScaler()), ('rf', RandomForestClassifier())])
pipe_sv2 = Pipeline([('scaler2', StandardScaler()), ('sv', SVC())])
pipe_nb2 = Pipeline([('scaler2', StandardScaler()), ('sv', GaussianNB())])
pipe_ada2 = Pipeline([('scaler2', StandardScaler()), ('sv',  AdaBoostClassifier())])
pipe_knn2 = Pipeline([('scaler2', StandardScaler()), ('sv', KNeighborsClassifier())])
pipe_xgb2 = Pipeline([('scaler2', StandardScaler()), ('sv', XGBClassifier())])

In [33]:
pipe_lr3 = Pipeline([('scaler3', RobustScaler()), ('lr', LogisticRegression())])
pipe_dt3 = Pipeline([('scaler3', RobustScaler()), ('dt', DecisionTreeClassifier())])
pipe_rf3 = Pipeline([('scaler3', RobustScaler()), ('rf', RandomForestClassifier())])
pipe_sv3 = Pipeline([('scaler3', RobustScaler()), ('sv', SVC())])
pipe_nb3 = Pipeline([('scaler3', RobustScaler()), ('sv', GaussianNB())])
pipe_ada3 = Pipeline([('scaler3', RobustScaler()), ('sv',  AdaBoostClassifier())])
pipe_knn3 = Pipeline([('scaler3', RobustScaler()), ('sv', KNeighborsClassifier())])
pipe_xgb3 = Pipeline([('scaler3', RobustScaler()), ('sv', XGBClassifier())])

In [34]:
pipe_line = [pipe_lr, pipe_dt, pipe_rf, pipe_sv, pipe_nb, pipe_ada, pipe_knn, pipe_xgb, pipe_lr2, pipe_dt2, pipe_rf2, pipe_sv2, pipe_nb2, pipe_ada2, pipe_knn2, pipe_xgb2, pipe_lr3, pipe_dt3, pipe_rf3, pipe_sv3, pipe_nb3, pipe_ada3, pipe_knn3, pipe_xgb3]

In [35]:
models = {0 : 'logistic_regression_minmax', 1 : 'decision_tree_minmax', 2 : 'random_forest_minmax', 3 : 
          'svc_minmax', 4 : 'naive_bayes_minmax', 5 : 'ada_minmax', 6 : 'knn_minmax', 
          7 : 'xgb_minmax', 8 : 'logistic_regression_standardscaler', 9 : 'decision_tree_standardscaler', 
          10 : 'random_forest_standardscaler', 11 : 'svc_standardscaler', 12 : 'naive_bayes_standardscaler', 
          13 : 'ada_standardscaler', 14 : 'knn_standardscaler', 15 : 'xgb_standardscaler', 
          16 : 'logistic_regression_robustscaler', 17 : 'decision_tree_robustscaler', 18 : 'random_forest_robustscaler', 
          19 : 'svc_robustscaler', 20 : 'naive_bayes_robustscaler', 21 : 'ada_robustscaler', 22 : 'knn_robustscaler', 
          23 : 'xgb_robustscaler'}

In [36]:
for i in pipe_line:
    i.fit(x_train, y_train)

C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
C:\Users\sreer\Anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[09:47:14] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
C:\Users\sreer\Anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[09:47:14] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[09:47:15] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
C:\Users\sreer\Anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\sreer\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [37]:
from sklearn.metrics import accuracy_score, precision_score, f1_score

In [55]:
scores_dict = {'model':list(models.values()), 'accuracy':[], 'precision':[], 'f1_score':[]}

In [56]:
print(scores_dict)

{'model': ['logistic_regression_minmax', 'decision_tree_minmax', 'random_forest_minmax', 'svc_minmax', 'naive_bayes_minmax', 'ada_minmax', 'knn_minmax', 'xgb_minmax', 'logistic_regression_standardscaler', 'decision_tree_standardscaler', 'random_forest_standardscaler', 'svc_standardscaler', 'naive_bayes_standardscaler', 'ada_standardscaler', 'knn_standardscaler', 'xgb_standardscaler', 'logistic_regression_robustscaler', 'decision_tree_robustscaler', 'random_forest_robustscaler', 'svc_robustscaler', 'naive_bayes_robustscaler', 'ada_robustscaler', 'knn_robustscaler', 'xgb_robustscaler'], 'accuracy': [], 'precision': [], 'f1_score': []}

In [57]:
for i,j in enumerate(pipe_line):
    y_pred = j.predict(x_test)
    acc = accuracy_score(y_test, y_pred)
    scores_dict['accuracy'].append(acc)
    pr = precision_score(y_test, y_pred, average='micro')
    scores_dict['precision'].append(pr)
    f1 = f1_score(y_test, y_pred, average='micro')
    scores_dict['f1_score'].append(f1)

In [59]:
pd.DataFrame(scores_dict)

                                 model  accuracy  precision  f1_score
0           logistic_regression_minmax  0.913043   0.913043  0.913043
1                 decision_tree_minmax  1.000000   1.000000  1.000000
2                 random_forest_minmax  1.000000   1.000000  1.000000
3                           svc_minmax  1.000000   1.000000  1.000000
4                   naive_bayes_minmax  0.826087   0.826087  0.826087
5                           ada_minmax  1.000000   1.000000  1.000000
6                           knn_minmax  0.695652   0.695652  0.695652
7                           xgb_minmax  1.000000   1.000000  1.000000
8   logistic_regression_standardscaler  1.000000   1.000000  1.000000
9         decision_tree_standardscaler  1.000000   1.000000  1.000000
10        random_forest_standardscaler  0.913043   0.913043  0.913043
11                  svc_standardscaler  1.000000   1.000000  1.000000
12          naive_bayes_standardscaler  0.826087   0.826087  0.826087
13                  ada_standardscaler  1.000000   1.000000  1.000000
14                  knn_standardscaler  0.913043   0.913043  0.913043
15                  xgb_standardscaler  1.000000   1.000000  1.000000
16    logistic_regression_robustscaler  0.739130   0.739130  0.739130
17          decision_tree_robustscaler  1.000000   1.000000  1.000000
18          random_forest_robustscaler  0.913043   0.913043  0.913043
19                    svc_robustscaler  1.000000   1.000000  1.000000
20            naive_bayes_robustscaler  0.826087   0.826087  0.826087
21                    ada_robustscaler  1.000000   1.000000  1.000000
22                    knn_robustscaler  0.826087   0.826087  0.826087
23                    xgb_robustscaler  1.000000   1.000000  1.000000