### Men Test cricket match prediction (classification model creation)

In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [99]:
df = pd.read_csv(r'E:\men_test_cricket_data20to21century_01aug20.csv')

In [100]:
df.head()

,Result-2,Margin,Team1,Team2,Home/Away,Team1_Home,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country,Result
0,Aban,-,England,Australia,Home,Yes,Manchester,08-07-1938,Jul,1938,Jul-38,1,England,NaN
1,Aban,-,Australia,England,Home,Yes,Melbourne,31-12-1970,Dec,1970,Dec-70,1,Australia,NaN
2,Aban,-,West Indies,England,Home,Yes,Georgetown,10-03-1990,Mar,1990,Mar-90,1,West Indies,NaN
3,Aban,-,New Zealand,Pakistan,Home,Yes,Dunedin,03-02-1989,Feb,1989,Feb-89,1,New Zealand,NaN
4,Aban,-,New Zealand,India,Home,Yes,Dunedin,18-12-1998,Dec,1998,Dec-98,1,New Zealand,NaN

In [101]:
df1 = df.copy()

In [102]:
df1.head()

,Result-2,Margin,Team1,Team2,Home/Away,Team1_Home,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country,Result
0,Aban,-,England,Australia,Home,Yes,Manchester,08-07-1938,Jul,1938,Jul-38,1,England,NaN
1,Aban,-,Australia,England,Home,Yes,Melbourne,31-12-1970,Dec,1970,Dec-70,1,Australia,NaN
2,Aban,-,West Indies,England,Home,Yes,Georgetown,10-03-1990,Mar,1990,Mar-90,1,West Indies,NaN
3,Aban,-,New Zealand,Pakistan,Home,Yes,Dunedin,03-02-1989,Feb,1989,Feb-89,1,New Zealand,NaN
4,Aban,-,New Zealand,India,Home,Yes,Dunedin,18-12-1998,Dec,1998,Dec-98,1,New Zealand,NaN

In [103]:
df1.columns

Index(['Result-2', 'Margin', 'Team1', 'Team2', 'Home/Away', 'Team1_Home',
       'Ground', 'Match Date', 'Match Month', 'Match Year', 'Match Period',
       'Matches', 'Country', 'Result'],
      dtype='object')

In [104]:
df1 = df1.drop(['Result-2', 'Margin', 'Home/Away', 'Match Date', 'Match Year', 'Match Period', 'Matches', 'Country'], axis=1)

In [105]:
df1.head()

         Team1      Team2 Team1_Home      Ground Match Month Result
0      England  Australia        Yes  Manchester         Jul    NaN
1    Australia    England        Yes   Melbourne         Dec    NaN
2  West Indies    England        Yes  Georgetown         Mar    NaN
3  New Zealand   Pakistan        Yes     Dunedin         Feb    NaN
4  New Zealand      India        Yes     Dunedin         Dec    NaN

In [106]:
df2 = df1.copy()

In [107]:
df2.shape

(4673, 6)

In [108]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4673 entries, 0 to 4672
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Team1        4673 non-null   object
 1   Team2        4673 non-null   object
 2   Team1_Home   4673 non-null   object
 3   Ground       4673 non-null   object
 4   Match Month  4673 non-null   object
 5   Result       4641 non-null   object
dtypes: object(6)
memory usage: 219.2+ KB

In [109]:
df2.isna().sum()

Team1           0
Team2           0
Team1_Home      0
Ground          0
Match Month     0
Result         32
dtype: int64

In [110]:
df1 = df1[pd.notnull(df2['Result'])]  #NaN rows removed
df2 = df2[pd.notnull(df2['Result'])]  #NaN rows removed

In [111]:
df2.isna().sum()

Team1          0
Team2          0
Team1_Home     0
Ground         0
Match Month    0
Result         0
dtype: int64

In [112]:
df2.head(1)

      Team1      Team2 Team1_Home      Ground Match Month Result
16  England  Australia        Yes  Birmingham         May   Draw

In [115]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()

In [124]:
df2 = df2.apply(LabelEncoder().fit_transform)

In [125]:
reference_df = pd.concat([df1, df2], axis=1, join='inner')
reference_df.to_csv(r'E:\reference_data.csv')

In [126]:
reference_df.head()

,Team1,Team2,Team1_Home,Ground,Match Month,Result,Team1,Team2,Team1_Home,Ground,Match Month,Result
16,England,Australia,Yes,Birmingham,May,Draw,3,1,1,7,8,0
17,England,Australia,Yes,Lord's,Jun,Draw,3,1,1,62,6,0
18,England,Australia,Yes,Lord's,Jun,Draw,3,1,1,62,6,0
19,England,Australia,Yes,Leeds,Jul,Draw,3,1,1,61,5,0
20,England,Australia,Yes,The Oval,Aug,Draw,3,1,1,97,1,0

In [160]:
x = df2.iloc[:,:5]
y = df2.iloc[:,5:]

In [161]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0, stratify=y)

In [162]:
len(x_train), len(x_test), len(y_train), len(y_test)

(3712, 929, 3712, 929)

##### applying logistic regression

In [163]:
from sklearn.linear_model import LogisticRegression

lr_classifier = LogisticRegression()
lr_classifier.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [164]:
y_pred_lr = lr_classifier.predict(x_test)

In [165]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred_lr)

0.4101184068891281

##### applying decesion tree classifier

In [166]:
from sklearn.tree import DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier(criterion='entropy')
dt_classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [167]:
y_pred_dt = dt_classifier.predict(x_test)

In [168]:
accuracy_score(y_test, y_pred_dt)

0.5263724434876211

In [169]:
# applying with criterion='gini' (default)

from sklearn.tree import DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier(criterion='gini')
dt_classifier.fit(x_train, y_train)

DecisionTreeClassifier()

In [170]:
y_pred_dt = dt_classifier.predict(x_test)
accuracy_score(y_test, y_pred_dt)

0.5306781485468245

##### applying random forest classifier

In [175]:
from sklearn.ensemble import RandomForestClassifier
rf_classifier = RandomForestClassifier(n_estimators=10, criterion='gini')
rf_classifier.fit(x_train, y_train.values.ravel())

RandomForestClassifier(n_estimators=10)

In [176]:
y_pred_rf = rf_classifier.predict(x_test)
accuracy_score(y_test, y_pred_rf)

0.46178686759956944

###### applying gridsearchcv to improve accuracy

In [177]:
from sklearn.model_selection import GridSearchCV
parameters = [{'n_estimators':list(range(20)), 'criterion': ['gini', 'entropy']}]

In [179]:
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=parameters, scoring='accuracy', n_jobs=-1)
grid_search = grid_search.fit(x_train, y_train.values.ravel())

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

In [180]:
best_accuracy = grid_search.best_score_
best_param = grid_search.best_params_

In [181]:
best_accuracy

0.4784529825541532

In [182]:
best_param

{'criterion': 'gini', 'n_estimators': 13}

##### applying naive base

In [184]:
from sklearn.naive_bayes import GaussianNB
nb_classifier = GaussianNB()
nb_classifier.fit(x_train, y_train.values.ravel())

GaussianNB()

In [185]:
y_pred_nb = nb_classifier.predict(x_test)

In [186]:
accuracy_score(y_test, y_pred_nb)

0.42734122712594186

##### applying svc

In [188]:
from sklearn.svm import SVC
sv_classifier = SVC(kernel='linear')
sv_classifier.fit(x_train, y_train.values.ravel())

SVC(kernel='linear')

In [189]:
y_pred_sv = sv_classifier.predict(x_test)

In [190]:
accuracy_score(y_test, y_pred_sv)

0.4133476856835307

In [191]:
parameters = [{'C':[2,3,4,5,6,7], 'kernel':['sigmoid', 'rbf', 'poly']}]

In [192]:
grid_search = GridSearchCV(estimator=sv_classifier, param_grid=parameters, scoring='accuracy', n_jobs=-1)

grid_search = grid_search.fit(x_train, y_train)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [193]:
best_accuracy

0.4202620686152517

In [194]:
best_parameters

{'C': 5, 'kernel': 'poly'}

##### applying KNN

In [196]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
x_train = ss.fit_transform(x_train)
x_test = ss.fit_transform(x_test)

In [197]:
x_train, x_test

(array([[-0.3724739 ,  0.56278436,  0.9956989 , -1.01209831,  1.33349916],
        [-0.69002629, -0.28435901, -1.00431967, -1.45428768,  0.0080342 ],
        [-1.32513107,  1.40992773, -1.00431967, -1.31822941,  1.33349916],
        ...,
        [-1.00757868,  1.69230885,  0.9956989 , -0.63793807, -0.65469828],
        [-1.32513107, -0.28435901,  0.9956989 ,  1.53899422, -0.32333204],
        [-0.69002629, -1.4138835 ,  0.9956989 ,  0.38249894,  0.0080342 ]]),
 array([[ 1.9028675 ,  1.14604303, -0.98398188, -0.22850745, -0.21330343],
        [ 0.62511983,  1.14604303,  1.01627888,  1.38102567,  1.84727421],
        [-1.29150169,  1.14604303,  1.01627888, -0.1935176 , -0.90016264],
        ...,
        [-0.65262785, -1.11861845, -0.98398188,  0.43629971,  0.47355579],
        [-0.65262785, -0.26937039,  1.01627888,  1.41601552,  0.13012618],
        [ 0.94455675, -0.83553576,  1.01627888,  0.0164215 , -0.21330343]]))

In [199]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier()
knn_classifier.fit(x_train, y_train.values.ravel())

KNeighborsClassifier()

In [200]:
y_pred_knn = knn_classifier.predict(x_test)

In [201]:
accuracy_score(y_test, y_pred_knn)

0.39289558665231433