In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [39]:
f = open(r'E:\classification\adult_data_uci\old.adult.names', 'r')

In [40]:
f.readlines()

['1. Title of Database: adult\n',
 '2. Sources:\n',
 '   (a) Original owners of database (name/phone/snail address/email address)\n',
 '       US Census Bureau.\n',
 '   (b) Donor of database (name/phone/snail address/email address)\n',
 '       Ronny Kohavi and Barry Becker, \n',
 '       Data Mining and Visualization\n',
 '       Silicon Graphics.\n',
 '       e-mail: ronnyk@sgi.com\n',
 '   (c) Date received (databases may change over time without name change!)\n',
 '       05/19/96\n',
 '3. Past Usage:\n',
 '   (a) Complete reference of article where it was described/used\n',
 '        @inproceedings{kohavi-nbtree,\n',
 '           author={Ron Kohavi},\n',
 '           title={Scaling Up the Accuracy of Naive-Bayes Classifiers: a \n',
 '                  Decision-Tree Hybrid},\n',
 '           booktitle={Proceedings of the Second International Conference on\n',
 '                      Knowledge Discovery and Data Mining},\n',
 '           year = 1996,\n',
 '           pages={to appear}}\n',
 '   (b) Indication of what attribute(s) were being predicted \n',
 '       Salary greater or less than 50,000.\n',
 "   (b) Indication of study's results (i.e. Is it a good domain to use?)\n",
 '       Hard domain with a nice number of records.\n',
 '       The following results obtained using MLC++ with default settings\n',
 '       for the algorithms mentioned below.\n',
 '        \n',
 '           Algorithm               Error\n',
 '        -- ----------------        -----\n',
 '        1  C4.5                    15.54\n',
 '        2  C4.5-auto               14.46\n',
 '        3  C4.5 rules              14.94\n',
 '        4  Voted ID3 (0.6)         15.64\n',
 '        5  Voted ID3 (0.8)         16.47\n',
 '        6  T2                      16.84\n',
 '        7  1R                      19.54\n',
 '        8  NBTree                  14.10\n',
 '        9  CN2                     16.00\n',
 '        10 HOODG                   14.82\n',
 '        11 FSS Naive Bayes         14.05\n',
 '        12 IDTM (Decision table)   14.46\n',
 '        13 Naive-Bayes             16.12\n',
 '        14 Nearest-neighbor (1)    21.42\n',
 '        15 Nearest-neighbor (3)    20.35\n',
 '        16 OC1                     15.04\n',
 '        17 Pebls                   Crashed.  Unknown why (bounds WERE increased)\n',
 '\n',
 '4. Relevant Information Paragraph:\n',
 '   Extraction was done by Barry Becker from the 1994 Census database.  A set\n',
 '    of reasonably clean records was extracted using the following conditions:\n',
 '    ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n',
 '\n',
 '5. Number of Instances\n',
 '   48842 instances, mix of continuous and discrete    (train=32561, test=16281)\n',
 '   45222 if instances with unknown values are removed (train=30162, test=15060)\n',
 '   Split into train-test using MLC++ GenCVFiles (2/3, 1/3 random).\n',
 '\n',
 '6. Number of Attributes \n',
 '   6 continuous, 8 nominal attributes.\n',
 '\n',
 '7. Attribute Information: \n',
 '\n',
 'age: continuous.\n',
 'workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\n',
 'fnlwgt: continuous.\n',
 'education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\n',
 'education-num: continuous.\n',
 'marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\n',
 'occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\n',
 'relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\n',
 'race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\n',
 'sex: Female, Male.\n',
 'capital-gain: continuous.\n',
 'capital-loss: continuous.\n',
 'hours-per-week: continuous.\n',
 'native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.\n',
 'class: >50K, <=50K\n',
 '\n',
 '8. Missing Attribute Values: \n',
 '\n',
 '   7% have missing values.\n',
 '\n',
 '9. Class Distribution: \n',
 '\n',
 " Probability for the label '>50K'  : 23.93% / 24.78% (without unknowns)\n",
 " Probability for the label '<=50K' : 76.07% / 75.22% (without unknowns)\n",
 '\n',
 '\n']

In [41]:
col = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'class']

In [42]:
df = pd.read_csv(r'E:\classification\adult_data_uci\adult.data', header=None)

In [43]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [44]:
df.columns = col

In [45]:
df.head(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [46]:
df.describe().round(1)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.0,32561.0,32561.0,32561.0,32561.0,32561.0
mean,38.6,189778.4,10.1,1077.6,87.3,40.4
std,13.6,105550.0,2.6,7385.3,403.0,12.3
min,17.0,12285.0,1.0,0.0,0.0,1.0
25%,28.0,117827.0,9.0,0.0,0.0,40.0
50%,37.0,178356.0,10.0,0.0,0.0,40.0
75%,48.0,237051.0,12.0,0.0,0.0,45.0
max,90.0,1484705.0,16.0,99999.0,4356.0,99.0

In [47]:
df.describe(include='all').round(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
count,32561.0,32561,32561.0,32561,32561.0,32561,32561,32561,32561,32561,32561.0,32561.0,32561.0,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.6,NaN,189778.4,NaN,10.1,NaN,NaN,NaN,NaN,NaN,1077.6,87.3,40.4,NaN,NaN
std,13.6,NaN,105550.0,NaN,2.6,NaN,NaN,NaN,NaN,NaN,7385.3,403.0,12.3,NaN,NaN
min,17.0,NaN,12285.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN
25%,28.0,NaN,117827.0,NaN,9.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,40.0,NaN,NaN
50%,37.0,NaN,178356.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,40.0,NaN,NaN
75%,48.0,NaN,237051.0,NaN,12.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,45.0,NaN,NaN
max,90.0,NaN,1484705.0,NaN,16.0,NaN,NaN,NaN,NaN,NaN,99999.0,4356.0,99.0,NaN,NaN

In [48]:
unique_value_dict = {}
for i in df.columns:
    unique_value_dict[i] = len(list(df[i].unique()))

In [49]:
print(unique_value_dict)

{'age': 73, 'workclass': 9, 'fnlwgt': 21648, 'education': 16, 'education-num': 16, 'marital-status': 7, 'occupation': 15, 'relationship': 6, 'race': 5, 'sex': 2, 'capital-gain': 119, 'capital-loss': 92, 'hours-per-week': 94, 'native-country': 42, 'class': 2}

In [50]:
df.shape

(32561, 15)

In [51]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
class             0
dtype: int64

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  class           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [53]:
df2 = df.copy()

In [54]:
le_col = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'class']

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
le = LabelEncoder()

In [57]:
for i in le_col:
    df2[i] = le.fit_transform(df2[i])

In [58]:
df2.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0

In [59]:
df2.corr().round(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
age,1.00,0.00,-0.08,-0.01,0.04,-0.27,-0.02,-0.26,0.03,0.09,0.08,0.06,0.07,-0.00,0.23
workclass,0.00,1.00,-0.02,0.02,0.05,-0.06,0.25,-0.09,0.05,0.10,0.03,0.01,0.14,-0.01,0.05
fnlwgt,-0.08,-0.02,1.00,-0.03,-0.04,0.03,0.00,0.01,-0.02,0.03,0.00,-0.01,-0.02,-0.05,-0.01
education,-0.01,0.02,-0.03,1.00,0.36,-0.04,-0.02,-0.01,0.01,-0.03,0.03,0.02,0.06,0.06,0.08
education-num,0.04,0.05,-0.04,0.36,1.00,-0.07,0.11,-0.09,0.03,0.01,0.12,0.08,0.15,0.05,0.34
marital-status,-0.27,-0.06,0.03,-0.04,-0.07,1.00,-0.01,0.19,-0.07,-0.13,-0.04,-0.03,-0.19,-0.02,-0.20
occupation,-0.02,0.25,0.00,-0.02,0.11,-0.01,1.00,-0.08,0.01,0.08,0.03,0.02,0.08,-0.01,0.08
relationship,-0.26,-0.09,0.01,-0.01,-0.09,0.19,-0.08,1.00,-0.12,-0.58,-0.06,-0.06,-0.25,-0.01,-0.25
race,0.03,0.05,-0.02,0.01,0.03,-0.07,0.01,-0.12,1.00,0.09,0.01,0.02,0.04,0.14,0.07
sex,0.09,0.10,0.03,-0.03,0.01,-0.13,0.08,-0.58,0.09,1.00,0.05,0.05,0.23,-0.01,0.22
capital-gain,0.08,0.03,0.00,0.03,0.12,-0.04,0.03,-0.06,0.01,0.05,1.00,-0.03,0.08,-0.00,0.22
capital-loss,0.06,0.01,-0.01,0.02,0.08,-0.03,0.02,-0.06,0.02,0.05,-0.03,1.00,0.05,0.00,0.15
hours-per-week,0.07,0.14,-0.02,0.06,0.15,-0.19,0.08,-0.25,0.04,0.23,0.08,0.05,1.00,-0.00,0.23
native-country,-0.00,-0.01,-0.05,0.06,0.05,-0.02,-0.01,-0.01,0.14,-0.01,-0.00,0.00,-0.00,1.00,0.02
class,0.23,0.05,-0.01,0.08,0.34,-0.20,0.08,-0.25,0.07,0.22,0.22,0.15,0.23,0.02,1.00

In [60]:
df2.shape

(32561, 15)

In [61]:
x = df2.iloc[:,:14].values
y = df2.iloc[:,14].values

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=1, stratify=y)

In [64]:
len(x_train), len(x_test), len(y_train), len(y_test)

(26048, 6513, 26048, 6513)

###### logistic regression

In [65]:
from sklearn.linear_model import LogisticRegression

In [66]:
lr = LogisticRegression(max_iter=100000)
lr.fit(x_train, y_train)

LogisticRegression(max_iter=100000)

In [67]:
y_pred_lr = lr.predict(x_test)

In [68]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [69]:
confusion_matrix(y_test, y_pred_lr)

array([[4645,  300],
       [1106,  462]], dtype=int64)

In [70]:
accuracy_score(y_test, y_pred_lr)

0.7841240595731613

#### decision tree

In [34]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [36]:
y_pred_dt = dt.predict(x_test)

In [37]:
confusion_matrix(y_test, y_pred_dt)

array([[4293,  652],
       [ 638,  930]], dtype=int64)

In [38]:
accuracy_score(y_test, y_pred_dt)

0.8019345923537541

###### grid search with decision tree

In [88]:
from sklearn.model_selection import GridSearchCV

In [40]:
parameter = [{'criterion':['gini', 'entropy'], 'splitter':['best', 'random'], 'max_depth':list(range(11)), 'min_samples_split':list(range(2,11))}]

In [41]:
grid_search = GridSearchCV(estimator=dt, param_grid=parameter, n_jobs=-1, scoring='accuracy')
grid_search = grid_search.fit(x_train, y_train)

In [42]:
grid_search.best_params_

{'criterion': 'entropy',
 'max_depth': 7,
 'min_samples_split': 6,
 'splitter': 'best'}

In [43]:
grid_search.best_score_

0.8554590773609385

In [44]:
dt2 = DecisionTreeClassifier(max_depth=7, min_samples_split=10)
dt2.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=7, min_samples_split=10)

In [45]:
y_pred_dt2 = dt2.predict(x_test)

In [46]:
confusion_matrix(y_test, y_pred_dt2)

array([[4718,  227],
       [ 746,  822]], dtype=int64)

In [47]:
accuracy_score(y_test, y_pred_dt2)

0.8506064793489944

##### random forest

In [48]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [49]:
rf.fit(x_train, y_train)

RandomForestClassifier()

In [50]:
y_pred_rf = rf.predict(x_test)

In [51]:
confusion_matrix(y_test, y_pred_rf)

array([[4612,  333],
       [ 598,  970]], dtype=int64)

In [52]:
accuracy_score(y_test, y_pred_rf)

0.8570551205281745

##### grid search with random forest

In [53]:
parameter = [{'n_estimators':list(range(2,10)), 'criterion':['gini', 'entropy'], 'max_depth':list(range(6)), 'min_samples_split':list(range(2,6))}]

In [54]:
grid_search = GridSearchCV(estimator=rf, param_grid=parameter, scoring='accuracy', n_jobs=-1)
grid_search = grid_search.fit(x_train, y_train)

In [55]:
grid_search.best_params_

{'criterion': 'gini',
 'max_depth': 5,
 'min_samples_split': 4,
 'n_estimators': 7}

In [56]:
grid_search.best_score_

0.8498155598847262

##### SVM

In [71]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [73]:
x

array([[    39,      7,  77516, ...,      0,     40,     39],
       [    50,      6,  83311, ...,      0,     13,     39],
       [    38,      4, 215646, ...,      0,     40,     39],
       ...,
       [    58,      4, 151910, ...,      0,     40,     39],
       [    22,      4, 201490, ...,      0,     20,     39],
       [    52,      5, 287927, ...,      0,     40,     39]], dtype=int64)

In [74]:
x = sc.fit_transform(x)

In [75]:
x

array([[ 0.03067056,  2.15057856, -1.06361075, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [ 0.83710898,  1.46373585, -1.008707  , ..., -0.21665953,
        -2.22215312,  0.29156857],
       [-0.04264203,  0.09005041,  0.2450785 , ..., -0.21665953,
        -0.03542945,  0.29156857],
       ...,
       [ 1.42360965,  0.09005041, -0.35877741, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [-1.21564337,  0.09005041,  0.11095988, ..., -0.21665953,
        -1.65522476,  0.29156857],
       [ 0.98373415,  0.77689313,  0.92989258, ..., -0.21665953,
        -0.03542945,  0.29156857]])

In [80]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1, stratify=y, test_size=.2)

In [81]:
from sklearn.svm import SVC

In [82]:
sv = SVC(kernel='linear')

In [83]:
sv.fit(x_train, y_train)

SVC(kernel='linear')

In [84]:
y_pred_sv = sv.predict(x_test)

In [85]:
confusion_matrix(y_test, y_pred_sv)

array([[4808,  137],
       [1075,  493]], dtype=int64)

In [86]:
accuracy_score(y_test, y_pred_sv)

0.8139106402579457

In [87]:
parameter = [{'C':[1,2,3,4,5], 'kernel':['linear', 'poly', 'rbf', 'sigmoid'], 'degree':[2,3,4,5], 'gamma':['scale', 'auto']}]

In [89]:
grid_search = GridSearchCV(estimator=sv, param_grid=parameter, scoring='accuracy', n_jobs=-1)
grid_search = grid_search.fit(x_train, y_train)

In [91]:
grid_search.best_params_

{'C': 4, 'degree': 2, 'gamma': 'scale', 'kernel': 'rbf'}

In [92]:
grid_search.best_score_

0.851428197689736

In [93]:
sv = SVC(kernel='rbf', gamma='scale', C=4, degree=2)

In [94]:
sv.fit(x_train, y_train)

SVC(C=4, degree=2)

In [95]:
y_pred_sv = sv.predict(x_test)

In [96]:
confusion_matrix(y_test, y_pred_sv)

array([[4621,  324],
       [ 709,  859]], dtype=int64)

In [97]:
accuracy_score(y_test, y_pred_sv)

0.8413941348073085

In [98]:
from sklearn.model_selection import cross_val_score

In [99]:
accuracies = cross_val_score(estimator=sv, X=x_train, y=y_train, cv=10)

In [100]:
accuracies

array([0.85028791, 0.84491363, 0.84990403, 0.86257198, 0.85297505,
       0.84491363, 0.84145873, 0.86026871, 0.84485407, 0.85560676])

In [102]:
accuracies.mean()

0.8507754495519958