##### used car - current price prediction based on given features

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matpltlib inline
import seaborn as sns

UsageError: Line magic function `%matpltlib` not found.

In [2]:
df = pd.read_csv(r'E:\regression_practice\car_data_car_dekho.csv')

In [3]:
df.head(2)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner

In [4]:
df.shape

(4340, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [6]:
df.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [9]:
df.describe(include='all')

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
count,4340,4340.000000,4.340000e+03,4340.000000,4340,4340,4340,4340
unique,1491,NaN,NaN,NaN,5,3,2,5
top,Maruti Swift Dzire VDI,NaN,NaN,NaN,Diesel,Individual,Manual,First Owner
freq,69,NaN,NaN,NaN,2153,3244,3892,2832
mean,NaN,2013.090783,5.041273e+05,66215.777419,NaN,NaN,NaN,NaN
std,NaN,4.215344,5.785487e+05,46644.102194,NaN,NaN,NaN,NaN
min,NaN,1992.000000,2.000000e+04,1.000000,NaN,NaN,NaN,NaN
25%,NaN,2011.000000,2.087498e+05,35000.000000,NaN,NaN,NaN,NaN
50%,NaN,2014.000000,3.500000e+05,60000.000000,NaN,NaN,NaN,NaN
75%,NaN,2016.000000,6.000000e+05,90000.000000,NaN,NaN,NaN,NaN
max,NaN,2020.000000,8.900000e+06,806599.000000,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [11]:
df = df[['name', 'year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner', 'selling_price']]

In [24]:
df.head(1)

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
0,Maruti 800 AC,2007,70000,Petrol,Individual,Manual,First Owner,60000

In [23]:
df1 = df.copy()

In [25]:
df1.head(1)

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
0,Maruti 800 AC,2007,70000,Petrol,Individual,Manual,First Owner,60000

In [20]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [26]:
le = LabelEncoder()
df1['name'] = le.fit_transform(df1['name'])

In [27]:
df1.head()

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
0,775,2007,70000,Petrol,Individual,Manual,First Owner,60000
1,1041,2007,50000,Petrol,Individual,Manual,First Owner,135000
2,505,2012,100000,Diesel,Individual,Manual,First Owner,600000
3,118,2017,46000,Petrol,Individual,Manual,First Owner,250000
4,279,2014,141000,Diesel,Individual,Manual,Second Owner,450000

In [29]:
df['name'].value_counts()

Maruti Swift Dzire VDI           69
Maruti Alto 800 LXI              59
Maruti Alto LXi                  47
Maruti Alto LX                   35
Hyundai EON Era Plus             35
                                 ..
Maruti Wagon R VX                 1
Mahindra XUV500 W10 AWD           1
Maruti Wagon R LXI DUO BS IV      1
Honda City 1.5 EXI S              1
Ford Fiesta 1.5 TDCi Ambiente     1
Name: name, Length: 1491, dtype: int64

In [30]:
df1['name'].value_counts()

971     69
793     59
814     47
811     35
396     35
        ..
262      1
258      1
254      1
246      1
1489     1
Name: name, Length: 1491, dtype: int64

In [31]:
df1.head(1)

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
0,775,2007,70000,Petrol,Individual,Manual,First Owner,60000

In [32]:
c = ['fuel', 'seller_type', 'transmission', 'owner']
for i in c:
    df1[i] = le.fit_transform(df1[i])

In [33]:
df1.head(1)

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
0,775,2007,70000,4,1,1,0,60000

In [34]:
x = df1.iloc[:,:7]
y = df1.iloc[:,7]

In [36]:
x.head(1)

   name  year  km_driven  fuel  seller_type  transmission  owner
0   775  2007      70000     4            1             1      0

In [37]:
y.head(1)

0    60000
Name: selling_price, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=0)

In [42]:
x_train.shape, len(y_train)

((3255, 7), 3255)

In [43]:
x_test.shape, len(y_test)

((1085, 7), 1085)

### applying linear regression

In [44]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [45]:
lr.fit(x_train, y_train)

LinearRegression()

In [46]:
y_pred_lr = lr.predict(x_test)

In [47]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [48]:
r2_score(y_test, y_pred_lr)

0.47829794524770075

In [50]:
(mean_squared_error(y_test, y_pred_lr))**0.5

429513.7305672612

In [51]:
mean_absolute_error(y_test, y_pred_lr)

241196.23807028183

#### applying decision tree

In [52]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()

In [54]:
dt.fit(x_train, y_train)

DecisionTreeRegressor()

In [55]:
y_pred_dt = dt.predict(x_test)

In [56]:
r2_score(y_test, y_pred_dt)

0.42864471994953635

In [57]:
(mean_squared_error(y_test, y_pred_dt))**0.5

449488.8268657865

#### applying random forest

In [58]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=10)

In [59]:
rf.fit(x_train, y_train)

RandomForestRegressor(n_estimators=10)

In [60]:
y_pred_rf = rf.predict(x_test)

In [61]:
r2_score(y_test, y_pred_rf)

0.789597573611811

In [62]:
(mean_squared_error(y_test, y_pred_rf))**0.5

272766.5747463192

#### applying grid search over random forest

In [66]:
import sklearn
sklearn.metrics.SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'max_error', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_root_mean_squared_error', 'neg_mean_poisson_deviance', 'neg_mean_gamma_deviance', 'accuracy', 'roc_auc', 'roc_auc_ovr', 'roc_auc_ovo', 'roc_auc_ovr_weighted', 'roc_auc_ovo_weighted', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'neg_brier_score', 'adjusted_rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted'])

In [68]:
from sklearn.model_selection import GridSearchCV
param = [{'n_estimators':list(range(1,20))}]
grid_search = GridSearchCV(estimator=rf, param_grid=param, scoring='r2', n_jobs=-1)
grid_search.fit(x_train, y_train)
best_r2 = grid_search.best_score_
best_param = grid_search.best_params_

In [69]:
best_r2

0.7365129125683332

In [70]:
best_param

{'n_estimators': 10}